<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>진주커Pick</title>
        <link rel="stylesheet"  type="text/css" href="/public/css/header.css">
        <link rel="stylesheet"  type="text/css" href="/public/css/cafe_info.css">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
        
        <script src="https://kit.fontawesome.com/a064522756.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="logo_back">
            <div class="side_menu">
                <label> <span class="material-symbols-outlined" id="menu">menu</span>
                    <input type="button" value="" class="bookmark-btt" style="background-color: pink";>
                </label>
                <section class="side_section">
                    <ul class="bookmark-lists">
                        <li class="bookmark" id="main_home"><a href="/"><div id="main_name">진주커Pick</div></a></li><hr>
                        <% var login = data1%>
                        <% if(login.login==1){%>
                            <li class="material-symbols-outlined" id="login">account_circle<span id="name"><a href="/mypage">마이페이지</span></a></li>
                        <%} else {%>
                            <li class="material-symbols-outlined" id="login">account_circle<span id="name"><a href="/login">로그인</span></a></li>
                        <%}%>
                        <li class="material-symbols-outlined" id="gifticon">barcode<span id="name"><a href="/gifticon_upload">기프티콘</span></a></li>
                        <li class="material-symbols-outlined" id="commu">chat<span id="name"><a href="/community">커뮤니티</span></a></li>
                        <% if(login.login==1){%>
                            <li class="material-symbols-outlined" id="out">logout<span id="name"><a href="/logout">로그아웃</span></a></li> 
                        <%}%>
                    </ul>
                    <div class="info"><hr>경상국립대학교 얼죽아
                        <div id="info_1">수학과&emsp;&emsp;&emsp;&emsp;강수연<br>정보통계학과&emsp;정인영<br>정보통계학과&emsp;정혜주<br>컴퓨터과학과&emsp;서혜원<br>컴퓨터과학과&emsp;이도현<hr></div>
                    </div>
                </section>
            </div>
            <script src="/public/js/index.js"></script>
            <div class="main_logo" style="text-align: center;"> 
                <img src="/public/static\jinju.textlogo.png" height= "110" alt="로고">
            </div>
        </div>

        <% var info = data[0] %>
        <div id="info_section">
            <div id="simple_info">
                <img id="cafe_image" src="<%=info.image%>">
                <div class="info_items"><i class="fa fa-map-marker" aria-hidden="true"></i> <%=info.cafe%></div>
                <div class="info_tag">
                    <% if(info.study == 1){%> <!--카페 정보 DB에서 값 가져와서 키워드 출력-->
                        <a href="#"></a>#스터디
                    <%}%>
                    <% if(info.pet == 1){%>
                        <a href="#">#애견동반</a>
                    <%}%>
                    <% if(info.nokids == 1){%>
                        <a href="#">#노키즈존</a>
                    <%}%>
                    <% if(info.takout == 1){%>
                        <a href="#">#테이크아웃</a>
                    <%}%>
                    <% if(info.hours == 1){%>
                        <a href="#">#24시</a>
                    <%}%>
                    <% if(info.meeting == 1){%>
                        <a href="#">#단체석(6인이상)</a>
                    <%}%>
                    <% if(info.franchise == 1){%>
                        <a href="#">#프랜차이즈</a>
                    <%}%>
                    <% if(info.parking == 1){%>
                        <a href="#">#주차장</a>
                    <%}%>
                </div>
                    
                    <% var score = 0 %> <!--입력받은 별점 평균 값 계산-->
                    <% for(i = 0; i< data2.length; i++){%>
                        <% score = score + data2[i].score %>
                    <%}%>
                    <% score = parseInt((score/data2.length)/2) %>
                    
                <div class="star-ratings">
                    <% if(score == 0){%> <!--평균 별점 출력-->
                        <div class="star-ratings-fill space-x-2 text-lg" style="width: calc(0/5 * 80px);">
                    <%}else if(score==0.5){%>
                        <div class="star-ratings-fill space-x-2 text-lg" style="width: calc(0.5/5 * 80px);">
                    <%}else if(score==1){%>
                        <div class="star-ratings-fill space-x-2 text-lg" style="width: calc(1/5 * 80px);">
                    <%}else if(score==1.5){%>
                        <div class="star-ratings-fill space-x-2 text-lg" style="width: calc(1.5/5 * 80px);">
                    <%}else if(score==2){%>
                        <div class="star-ratings-fill space-x-2 text-lg" style="width: calc(2/5 * 80px);">
                    <%}else if(score==2.5){%>
                        <div class="star-ratings-fill space-x-2 text-lg" style="width: calc(2.5/5 * 80px);">
                    <%}else if(score==3){%>
                        <div class="star-ratings-fill space-x-2 text-lg" style="width: calc(3/5 * 80px);">
                    <%}else if(score==3.5){%>
                        <div class="star-ratings-fill space-x-2 text-lg" style="width: calc(3.5/5 * 80px);">
                    <%}else if(score==4){%>
                        <div class="star-ratings-fill space-x-2 text-lg" style="width: calc(4/5 * 80px);">
                    <%}else if(score==4.5){%>
                        <div class="star-ratings-fill space-x-2 text-lg" style="width: calc(4.5/5 * 80px);">
                    <%}else if(score==5){%>
                        <div class="star-ratings-fill space-x-2 text-lg" style="width: calc(5/5 * 80px);">
                    <%}else{%>
                        <div class="star-ratings-fill space-x-2 text-lg" style="width: 0px;">
                    <%}%>
                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                        </div>           
                    <div class="star-ratings-base space-x-2 text-lg">
                        <span>★★★★★</span>
                            <%if(!score){%>
                                <span>0</span>
                            <%} else{%>
                                <span>(<%= score %>)</span>
                            <%}%>
                    </div>
                </div>
                <br>

                <div class="info_items"><i class="fa-solid fa-clock"></i> 영업시간:&nbsp;<%=info.time%></div>
                <div class="info_items"><i class="fa-solid fa-dollar-sign"></i> 가격:&nbsp;<%=info.price%></div>
                <div class="info_items"><i class="fas fa-parking"></i> 주차장 여부:&nbsp;
                    <% if(info.parking==1){%> <!--주차가능 여부 출력-->
                        주차 가능
                    <%}else{%>
                        주차불가능
                    <%}%>
                </div>
            </div>
            <div id="review">
                <p><i class="fa fa-plus-circle" aria-hidden="true"></i> 매장에 대한 후기를 남겨주세요.</p>
                <div id="review_input">
                    <form onsubmit="return comment_write()" method="post" action="/cafe_info/<%= info.cafe %>" >
                    <span class="star">
                        ★★★★★
                        <span>★★★★★</span>
                        <input type="range" id = "score" name ="score" oninput="drawStar(this)" value="" step="1" min="0" max="10">
                    </span>
                        <textarea id="text_area" rows="4" name ="review" maxlength="45" placeholder="매장에 대한 후기를 남겨주세요."></textarea>
                        <input type="submit" id="review_submit" value="등록" >
                        <input type="button" class="text_button" value="콘센트가 있어요" onclick="text_load(this)">
                        <input type="button" class="text_button" value="시그니처 메뉴가 있어요" onclick="text_load(this)">
                        <input type="button" class="text_button" value="디저트가 맛있어요" onclick="text_load(this)">
                        <input type="button" class="text_button" value="매장이 넓어요" onclick="text_load(this)">
                        <input type="button" class="text_button" value="사진 찍기 좋아요" onclick="text_load(this)">
                        <input type="button" class="text_button" value="가성비가 좋아요" onclick="text_load(this)">
                        <input type="button" class="text_button" value="화장실이 깨끗해요" onclick="text_load(this)">
                    </form> 

                </div>
            </div>
        </div>
        <ul id="review_lists">
            <% var check = data3[0] %> <!--리뷰(닉네임, 글, 작성 시간)-->

                <% for(var i = 0; i<data2.length; i++){%>
                    <li class="reviews">
                        <% var rev = data2[i] %>
                        <i class="fas fa-comment" style="color: #b8e4ff;"></i>
                        <%=rev.nickname%>
                        <div class="user-star-ratings">
                            <% if(rev.score == 0){%> <!--평균 별점 출력-->
                                <span class="user-star-ratings-fill" style="width: calc(0/10 * 80px);">
                            <%}else if(rev.score==1){%>
                                <span class="user-star-ratings-fill" style="width: calc(1/10 * 80px);">
                            <%}else if(rev.score==2){%>
                                <span class="user-star-ratings-fill" style="width: calc(2/10 * 80px);">
                            <%}else if(rev.score==3){%>
                                <span class="user-star-ratings-fill" style="width: calc(3/10 * 80px);">
                            <%}else if(rev.score==4){%>
                                <span class="user-star-ratings-fill" style="width: calc(4/10 * 80px);">
                            <%}else if(rev.score==5){%>
                                <span class="user-star-ratings-fill" style="width: calc(5/10 * 80px);">
                            <%}else if(rev.score==6){%>
                                <span class="user-star-ratings-fill" style="width: calc(6/10 * 80px);">
                            <%}else if(rev.score==7){%>
                                <span class="user-star-ratings-fill" style="width: calc(7/10 * 80px);">
                            <%}else if(rev.score==8){%>
                                <span class="user-star-ratings-fill" style="width: calc(8/10 * 80px);">
                            <%}else if(rev.score==9){%>
                                <span class="user-star-ratings-fill" style="width: calc(9/10 * 80px);">
                            <%}else if(rev.score==10){%>
                                <span class="user-star-ratings-fill" style="width: calc(10/10 * 80px);">
                            <%}else{%>
                                <span class="user-star-ratings-fill" style="width: 0px;">
                            <%}%>
                                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span> 
                                </span>
                            <span class="user-star-ratings-base">★★★★★</span>
                        </div>
                        <%=rev.writeTime%>
                        <form style="display:inline" name="review_delete" action = "/review/<%=info.cafe%>/<%=rev.num%>" method="post" onsubmit="return confirm('댓글을 삭제하시겠습니까?');">
                            <% if(login.login==1){%>
                                <% if (rev.nickname == check.nickname) { %>
                                <span><button type="submit" id="review_del_btn">
                                    <i class="fa-solid fa-trash-can"></i>
                                </button></span>
                                <% } %> 
                            <%}%>
                        </form>
                        <div><%=rev.review%></div>
                    </li>
                <%}%>
        </ul>

        <script>
            const drawStar = (target) => {
                document.querySelector(`.star span`).style.width = `${target.value * 10}%`;
            }
        </script>

        <script>
            function text_load(btn) {
                const text = btn.value;
                document.getElementById("text_area").value += text;
            }

            function comment_write() {
                // textarea에서 값을 가져옴
                var text = document.getElementById("text_area").value;
                
                
                if (text == "") {
                    alert('내용을 입력하세요!');
                    return false;
                }
                else{
                    return true;
                }
            }
        </script>
    </body>
</html>